@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

html, body{width: 100%;height: 100%;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding: 0;}
body,input,textarea,select,button,table{font-family: 'Malgun Gothic',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
img{vertical-align:top}
table{border-collapse:collapse}
ul,ol{list-style: none;}
em,address{font-style: normal}
a{text-decoration: none}
a:hover,a:active,a:focus{text-decoration: underline}

#wrap{
    max-width: 500px;
    margin:0 auto;
    padding-top:10%;
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
#header{
    color: #ffffff;
}
#header .title{
    font-size: 3.3em;
    letter-spacing: .1em;
    line-height: 2em;
}
#header h2{
    font-size:1.5em;
    margin-bottom: .3em;
}
#header .location{
    font-size: 1.3em;
    margin-bottom: 1.2em;
    line-height: 1.3em;
}


#content{
    width: 100%;
    margin: 0 auto;
}
#content .inputToDo{
    width: 90%;
    height: 3.2em;
    margin:0 auto 2.1em;

}
#content .inputToDo:after{
    content: '';
    display: block;
    clear: both;
}
#content .inputToDo input{
    float:left;
    font-size:1.2em;
    font-weight: bold;
    width: 87%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    outline: none
}
#content .inputToDo button{
    float:right;
    width: 13%;
    height: 100%;
    border:0;
    background:#224277;
    outline: none;
    font-size:1.2em;
    color:#ffffff;
    line-height: 1.8em;
    border-radius: 0 .5em .5em 0;
    cursor: pointer;
}

#content .todoList{
    width: 90%;
    margin: 0 auto;
}
#content .todoList li{
    width: 100%;
    height: 2.2em;
    margin:0 auto .5em;
    padding-left:1em;
    font-size:1.3em;
    font-weight: bold;
    text-align: left;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 0 .5em .5em 0;
    box-shadow: .1em .2em .2em;
    line-height: 2.2em;
}
#content .todoList li:after{
    content:'';
    display:block;
    clear: both
}
#content .todoList .delBtn{
    float:right;
    padding-right: .9em;
    color:red;
}

#bgImage{
    position: absolute;
    top:0;
    left:0;
    z-index:-9999;
    width: 100%;
    height:100%;
    animation: fadeIn .5s linear;
}

@keyframes fadeIn{
    0%{opacity: 0}
    100%{opacity: 1}
}

.shadow{
    box-shadow: .3em, .5em .5em
}